
@import './fonts.css';

body {
    width: 1920px;
    font-family: Roboto;
    margin: 0;  
}

.header {
    position: relative;
    padding-top: 20px; 
    height: 867px;
    /* background: url(../images/header-background.jpg) no-repeat right; */
}

.header-background {
    position: absolute;
    top: 0;
    right: 0; 
    z-index: -1;
}




.header-label {
    width: 680px;  
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    padding: 0 340px;
}



/*.main {
}
.block {
}
.titel {
}
.text {
} */
.logo-container {
    display: inline-block;
    width: 211px;
    height: 50px;
}
.logo-icon {
    width: 211px;
    height: 50px;
}
.logo-title {
    vertical-align: top;
    font-size: 45px;
    font-weight: 700;
    line-height: 45px;
}
.button {
    
    border: none;
    background-color: #ffffff;
    width: 193px;
    height: 52px; 
    border-radius: 5px;
    font-weight: 400;
    font-size: 24px;
    cursor: pointer;
    float: right;
}